
/*=========================*/
/* Default Header */
/*=========================*/
.large-header {
	position:relative;
	/*width:100%;*/
	background:#333;
	overflow:hidden;
	background-size:cover;
	background-position:center center;
	z-index:1;
	background-image:url(../img/bg.jpg);
	webkit-animation:10s ease-in;
	-moz-animation:10s ease-in;
	-o-animation:10s ease-in;
	animation:10s ease-in;
}
.main-title {
	font-weight:700;
	position:absolute;
	margin:0;
	padding:0;
	color:#fff;
	line-height:1;
	text-align:center;
	top:55%;
	left:50%;
	-webkit-transform:translate3d(-50%,-50%,0);
	transform:translate3d(-50%,-50%,0);
	text-transform:uppercase;
	font-size:4.2em;
	letter-spacing:0.1em;
}
.main-title .thin {
	font-weight:300;
}

.smallh {
	font-size:18px;
	letter-spacing:5px;
	font-weight: 300;
	display: inline-block;
	line-height:1.6;
}
/*=========================*/
/* Page Wrapper */
/*=========================*/
.page-wrapper {
	padding:80px 0;
	clear:both;
	float:none;
	position:relative;
	background-color:#fff;
}
.page-wrapper.bot0 {
	padding:80px 0 0 0;
}
.page-wrapper.gray {
	background-color:#f9f9f9;
}
.page-wrapper .row {
	margin-bottom:50px;
}
.page-wrapper .row:last-child {
	margin-bottom:0;
}
.page-wrapper.gray h1,.page-wrapper.gray h2,.page-wrapper.gray h3,.page-wrapper.gray h4,.page-wrapper.gray h5,.page-wrapper.gray h6 {
	color:inherit;
}
.page-wrapper h2.title {
	letter-spacing:1px;
	text-transform:uppercase;
	font-weight:300;
	text-align:center;
	margin:0 0 20px 0;
}
.page-wrapper .tagline {
	text-align:center;
	font-size:18px;
	margin-top:-10px;
	font-weight:300;
	margin-bottom:30px;
}
.page-wrapper .tagline:before {
	content:'';
	display:block;
	height:1px;
	width:40px;
	background-color:#20b2aa;
	margin:15px auto 10px auto;
	-webkit-animation:title-border .5s ease-in;
	-moz-animation:title-border .5s ease-in;
	-o-animation:title-border .5s ease-in;
	animation: title-border .5s ease-in;
}


/*=========================*/
/* Timeline */
/*=========================*/
#tline {
	padding-bottom:60px;
}
.tline-holder {
	margin:0 auto;
	padding:0px;
	padding-top:20px;
	width:100%;
	position:relative;
	overflow:hidden;
	list-style:none;
}
.tline-holder:before {
	background:#e4e4e4;
	content:"";
	left:50%;
	top:20px;
	bottom:0px;
	position:absolute;
	width:1px;
	margin-left:-1px;
	height:9999px;
}
ul .tline-holder>li {
	width:100%;
	float:left;
	display:inline-block;
}
.tline-item-content {
	width:70%;
}
.tline-item-txt {
	position:relative;
	padding:20px;
	background:#fff;
	border:1px solid #e4e4e4;
	margin-top:-20px;
}
.tline-item-txt h3 {
	text-transform:uppercase;
	font-size:17px;
	margin-top:10px;
}
.tline-item-txt .meta {
	color:#999;
}
.tline-item-left .tline-item-content:hover .date-icon,.tline-item-right .tline-item-content:hover .date-icon {
	-webkit-animation:pulse .3s;
	animation:pulse .3s;
}
.tline-item-left {
	float:left;
	position:relative;
}
.tline-item-left .tline-item-content {
	float:left;
}
.tline-item-left .tline-item-txt {
	margin-right:60px;
}
.tline-item-left .date-icon {
	margin-right:-20px;
	float:right;
	background-color:#303543;
	color:#fff;
}
.tline-item-right {
	float:right;
	position:relative;
}
.tline-item-right .tline-item-content {
	float:right;
}
.tline-item-right .tline-item-txt {
	margin-left:60px;
}
.tline-item-right .date-icon {
	margin-left:-20px;
	float:left;
}
.tline-item-txt:before,.tline-item-txt:after {
	content:" ";
	position:absolute;
	top:24px;
	display:block;
	width:0;
	height:0;
	border-top:solid 15px transparent;
	border-bottom:solid 15px transparent;
}
.tline-item-left .tline-item-txt:before,.tline-item-left .tline-item-txt:after {
	right:-18px;
	border-left:solid 20px #fff;
}
.tline-item-left .tline-item-txt:before {
	right:-20px;
	border-left-color:#e4e4e4;
}
.tline-item-right .tline-item-txt:before,.tline-item-right .tline-item-txt:after {
	left:-18px;
	border-right:solid 20px #fff;
}
.tline-item-right .tline-item-txt:before {
	left:-20px;
	border-right-color:#e4e4e4;
}
.date-icon {
	text-align:center;
	padding-top:12px;
	width:40px;
	height:40px;
	background-color:#20b2aa;
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	color:#fff;
}
.tline-start {
	width:100%;
	float:left;
	padding:0px;
	position:relative;
	 background:#f9f9f9;
}
.tline-start-content {
	text-align:center;
	background:#f9f9f9;
}
.tline-start .tline-start-icon {
	margin:0 auto;
	margin-bottom:20px;
	width:12px;
	height:12px;
	background:#e4e4e4;
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius: 100%;
}
/*=========================*/
/* Fun Facts */
/*=========================*/
.funfacts .icon {
	font-size:40px;
	display:inline-block;
	width:80px;
	height:80px;
	line-height:80px;
	text-align:center;
	border-radius:50%;
	margin-bottom:10px;
	clear:both;
	color:#ccc;
	border:0;
	 background:rgba(0,0,0,0.2);
}
.funfacts .counter {
	font-size:60px;
	 color:#20b2aa;
	 font-weight:700;
}
.funfacts h4 {
	text-transform:uppercase;
	font-size:14px;
	margin:22px 0 0px;
	position:relative;
	color: #ccc;
}

/*=========================*/
/* Responsive */
/*=========================*/

@media (min-width:768px) {
	.default-skin.header {
						background:transparent;
						border-width:0px;
	}
	.navbar-default .navbar-nav>li>a,.navbar-default .navbar-nav>.open>a,.navbar-default .redq-menu-title,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus {
						color:#fff;
	}
	.default-skin.header {
						transition:all 0.8s;
	}
	.default-skin li.dropdown.open a span {
					color:#fff;
	}
	.default-skin.header.on {
						background:#fff;
						border-bottom:1px solid #eee;
						transition:all 0.8s;
	}
	.default-skin.header.on .navbar-default .navbar-nav>li>a,.default-skin.header.on .navbar-default .navbar-nav>.open>a,.default-skin.header.on .navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus,.default-skin.header.on li.dropdown.open a span {
						color:#444;
	}
		.default-skin.header.on .navbar-default .navbar-nav>li {
						padding:25px 15px;
	}
	.navbar>.container .navbar-brand,.navbar-default .navbar-nav>li {
						transition:all 0.8s;
	}
	.default-skin.header.on .navbar>.container .navbar-brand {
						margin-top:0;
						transition:all 0.8s;
	}
	.header,.header .navbar {
						height:auto;
	}
	.navbar {
						line-height:0;
	}
	.navbar-nav>li>.dropdown-menu {
					border-radius:0;
	}
		.default-skin.header.header2 {
					background-color:#fff;
	}
		.default-skin.header.header2 .navbar-default .navbar-nav>li>a,.default-skin.header.header2 .navbar-default .navbar-nav>.open>a,.default-skin.header.header2 li.dropdown.open a span,.default-skin.header.header2 .navbar-default .redq-menu-title,.default-skin.header.header2 .navbar-default .navbar-nav>.open>a:hover,.default-skin.header.header2 .navbar-default .navbar-nav>.open>a:focus {
					color:#333;
	}
	.header2 .navbar-default .navbar-nav>li {
			padding:28px 15px;
	}
	.header2 .navbar>.container .navbar-brand {
			margin-top: 0;
	}
}

@media only screen and (max-width:768px) {
	.main-title {font-size:3em;	line-height:1;}
	.large-header .btn-default, .large-header .btn-primary {  margin-top: 10px;}
	.smallh {line-height:1.8;display:block;margin-top:20px;}
	.tline-item-content {  margin-bottom: 30px;}
	.header .navbar{height:66px;}
}

@media (max-width: 767px){
	.mobile-menu-open ul.sub-menu li a {
	  font-size:12px;
	}
}


